/*
 Theme Name:   Putter Child
 Theme URI:    htts://putter.themerex.net
 Description:  Putter Child
 Author:       ThemeREX
 Author URI:   http://themerex.net
 Template:     putter
 Version:      1.0
 Text Domain:  putter
 Tags:         flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, microformats, post-formats, theme-options, threaded-comments, translation-ready
*/


/* =Child-Theme customization starts here
------------------------------------------------------------ */
