#header{
  .trx_addons_icon-basket, .elementor-widget-trx_sc_layouts_search .search_submit, .elementor-widget-icon a{
    color: var( --e-global-color-13ed1179 )
  }
}

#about{
  .elementor-widget-accordion{
    .elementor-accordion-item{
      border-left-width: 0;
      border-right-width: 0;
    }
  }
}